/*
* @Author: thiagopagliarelli
* @Date:   2019-03-09 14:19:51
* @Last Modified by:   Thiago Earp
* @Last Modified time: 2019-03-11 08:32:10
*/

#loading {
	-webkit-animation: rotation 5s infinite linear;
}

	@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}

		to {
				-webkit-transform: rotate(359deg);
		}
	}


/* Fonts */

@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

@font-face {
    font-family: "PixelMiners";
    src: url(./fonts/pixel-miners.otf);
}

@font-face {
    font-family: "OldSchoolAdventures";
    src: url(./fonts/old-school-adventures.ttf);
}


/* Mobile-first */

html {
  	scroll-behavior: smooth;
}

body {
	font-family: 'Muli', sans-serif;
	background-color: black;
	padding: 0;
	margin: 0;
}

header {
	height: 100%;
}

h1 {
	color: #f9f7f1;
	padding: 25% 0 15% 10%;
	text-align: left;
	font-family: 'PixelMiners', 'Muli', sans-serif; 
	font-size: 3vmax;
	text-shadow: 0px 0px 10px #f9f7f1, 0px 0px 5px #f9f7f1;
}

h2 {
	color: #cccc33;
	font-family: 'OldSchoolAdventures', 'Muli', sans-serif; 
	font-size: 2.5vmax;
	margin-left: 10%;
}

h3 {
	color: #f9f7f1;
	font-family: 'Press start 2P', 'OldSchoolAdventures', 'Muli', sans-serif; 
	font-size: 0.75em;
	color: #cccc33;
	font-weight: bold;
}

p {
	color: #f9f7f1;
	font-family: 'OldSchoolAdventures', 'Muli', sans-serif; 
	font-size: 0.65em;
	padding: 0 10% 0 10%;
}

a {
  color: #cccc33;
  text-decoration: none;
}

main {
	margin: 0 auto;
	padding: 0;
	display: grid;
}

footer {
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.nav-bar {
	display: grid;
	width: 100vw;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(5, 1fr);
	list-style: none;
	color: #cccc33;
	text-shadow: 0px 0px 10px #cccc33, 0px 0px 5px #cccc33;
	box-shadow: 0 20px 60px 0 black;
	margin: 0;
	padding: 10px 0;
	background-image: url("./img/steel-vent2.png");
	/*background-image: url("./img/miniwindow.png");*/
	background-size: contain;
  	background-repeat: round;
  	position: fixed;
  	overflow: hidden;
  	top: 0;
  	z-index: 100;
}

.nav-item, .home {
	list-style: none;
	font-family: 'Press start 2P', 'OldSchoolAdventures', 'Muli', sans-serif;
	padding: 5px 0 0 0;
	font-size: 0.75em;
	justify-self: center;
}

.nav-item a, .home a {
	text-decoration: none;
	color: inherit;
}


/* MAIN SECTION */

#about {
	padding-top: 15vh;
    margin-top: -15vh;
}

#text {
    padding-top: 25vh;
    margin-top: -25vh;
}

#code {
	padding-top: 40vh;
    margin-top: -40vh;
    align-self: center;
}

section {
	padding: 5% 0;
	display: grid;
	align-items: center;
}

.bg1 {
/*	background-image: url("./img/earth-curvature-clean.jpg");
*/	background-size: auto 100%;
	background-repeat: no-repeat;
	height: 800px;
}

.bg2 {
	background-image: url("./img/spaceshipwindow.png");
	background-size: auto 100%;
	background-position: center center;
	background-repeat: no-repeat;
	height: 800px;
}

.bg3 {
/*	background-image: url("./img/earth-curvature-clean-reverse.jpg");
*/	background-size: auto 100%;
	background-repeat: no-repeat;
	height: 800px;
	display: grid;
}

.bg4 {
	background-image: url("./img/steel-plate2.png");
	background-size: contain;
  	background-repeat: round;
}


.static {
	background: radial-gradient(at top center, rgb(21, 21, 21), black);
	height: 80px;
}


.static2 {
	background: radial-gradient(at bottom center, rgb(21, 21, 21), black);
	height: 80px;
}


#borderimg { 
  border-top: 15px solid transparent;
  /*padding: 15px;*/
  border-image-source: url("./img/steel-plate.png");
  border-image-repeat: round;
  border-image-slice: 30;
}

.content-1 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	align-items: center;
	grid-gap: 10px;
	justify-items: center;
}

.profile-pic {
	display: block;
	margin: 0 auto;
	width: 80%;
	max-width: 240px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
}

.content-2 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	align-items: center;
	grid-gap: 10px;
	justify-items: center;
}

.content-2 p {
	font-weight: bold;
}

#rocket {
	height: 25vh;
}

.content-3 {
	display: grid;
	grid-template-columns: 1fr;
	font-weight: bold;
}

#rocket-right {
	width: 10vw;
}

.content-4 {
	margin: 0 10% 0 10%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	align-items: start;
	grid-gap: 5px;
	padding: 5%;
}

.content-4 p {
	margin: 0;
}

/* BOX DESIGN */

.backbox {
	background: rgba(0, 0, 0, 0.65);
	border-top: 5px solid #f9f7f1;
	border-bottom: 5px solid #f9f7f1;
	position: relative;
}

.backbox:before, .backbox:after {
	content: '';
	top: 0;
	width: 5px;
	height: 100%;
	position: absolute;
	background: #f9f7f1;
}

.backbox:before {
	left: -5px;
}

.backbox:after {
	right: -5px;
}



/* Desktop > 768 */

@media only screen and (min-width: 768px) {

	#about, #text {
    padding-top: 25vh;
    margin-top: -25vh;
	}

	main {
		margin: 0 auto;
		padding: 0;
	}

	h1 {
		padding: 15% 0 5% 10%;
		font-size: 4vmax;
	}

	h2 {
		font-size: 1.5vmax;
	}

	p {
	font-size: 0.75em;
	}

	.nav-bar {
		display: grid;
		max-width: 100%;
		grid-template-columns: repeat(5, minmax(80px, 100px));
		grid-template-rows: 1fr;
		grid-gap: 20px;
		align-items: center;
		list-style: none;
		color: #cccc33;
		/*text-shadow: 0px 0px 10px #cccc33, 0px 0px 5px #cccc33;*/
		margin: 0; 
		padding: 20px 30px;
		position: fixed;
		overflow: hidden;
	}

	.nav-item, .home {
		list-style: none;
		font-family: 'Press start 2P','OldSchoolAdventures', 'Muli', sans-serif; 
		align-self: center;
		font-size: 1em;
	}

	section {
		padding: 5% 5%;
	}

	.bg1 {
		/*background-image: url("./img/earth-curvature-clean.jpg");*/
		background-size: auto 100%;
		background-repeat: no-repeat;
		height: 800px;
	}


	.bg3 {
		
	/*	background-image: url("./img/earth-curvature-clean-reverse.jpg");*/
		background-size: auto 100%;
		background-repeat: no-repeat;
		height: 800px;
	}
/*
	.bg2 {
		background-size: 100% 100%;
		background-position: center;
		background-clip: padding-box;
	}
*/
	.content-1 {
		display: grid;
		grid-template-columns: 1fr 2fr;
		align-items: center;
		grid-gap: 10px;
		padding: 0 10%;
	}

	.content-2 {
		display: grid;
		align-items: center;
		grid-gap: 10px;
		padding: 0 10%;

	}

	.profile-pic {
		width: 100%;
		max-width: 240px;
		align-self: center;
		justify-self: center;
		border-radius: 50%;
	}

	.content-3 {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		align-items: center;
		padding: 0 10%;
	}

/*	.window {
		background-image: url("./img/spaceship-window.png");
		z-index: 10;
	}*/

	.content-4 p {
		margin: 0;
		padding: 0 10%;
}
	
}


