/*
* @Author: thiagopagliarelli
* @Date:   2019-03-09 14:19:51
* @Last Modified by:   Thiago Earp
* @Last Modified time: 2019-03-11 08:32:10
*/


@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

@font-face {
    font-family: "PixelMiners";
    src: url(./fonts/pixel-miners.otf);
}

@font-face {
    font-family: "OldSchoolAdventures";
    src: url(./fonts/old-school-adventures.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Muli', sans-serif;
	background-color: black;
}

h1 {
	color: #f9f7f1;
	text-align: center;
	font-family: 'PixelMiners', 'Muli', sans-serif; 
	font-size: 3.5vmax;
}

h2 {
	color: #f9f7f1;
	font-family: 'OldSchoolAdventures', 'Muli', sans-serif; 
	font-size: 2.5vmax;
	text-align: center;
	margin: 0 7.5%;
}

h3 {
	color: #f9f7f1;
	font-family: 'Press start 2P', 'OldSchoolAdventures', 'Muli', sans-serif; 
	font-size: 0.75em;
	color: #cccc33;
	font-weight: bold;
}

p {
	color: #f9f7f1;
	padding: 0 10% 0 10%;
}

a {
  color: #cccc33;
  text-decoration: none;
}

main {
	margin: 0 auto;
/*	background-image: url("./img/earth-curvature-clean.jpg");
	background-size: auto 100%;
	min-height: 100vh;*/
	padding: 20px 20px 0;
}


.nav-bar {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	justify-items: center;
	list-style: none;
	color: #cccc33;
	margin: 0;
	padding: 0;
}

.nav-item {
	list-style: none;
	font-family: 'Press start 2P', 'OldSchoolAdventures', 'Muli', sans-serif;
	padding: 5px 0 0 0;
	font-size: 0.75em;
}

.nav-item a {
	text-decoration: none;
	color: inherit;
}


/* MAIN SECTION */


section {
	padding: 5% 0;
}

.bg1 {
	background-image: url("./img/earth-curvature-clean.jpg");
	background-size: auto 100%;
	background-repeat: no-repeat;
	height: 800px;
}

.static {
	height: 400px;
}

.bg2 {
	background-image: url("./img/earth-curvature-clean-reverse.jpg");
	background-size: auto 100%;
	background-repeat: no-repeat;
	height: 800px;
}

.content-1 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	align-items: center;
	grid-gap: 10px;
	justify-items: center;
}

.profile-pic {
	display: block;
	margin: 0 auto;
	width: 80%;
	max-width: 240px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
}

.content-2 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	align-items: center;
	grid-gap: 10px;
	justify-items: center;
}

.content-2 p {
	font-weight: bold;
}

.content-3 {
	font-weight: bold;
}

.content-4 {
	margin: 10%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	align-items: start;
	grid-gap: 5px;
	padding: 5%;
}

.content-4 p {
	margin: 0;
}

/* BOX DESIGN */

.credits {
	background: rgba(0, 0, 0, 0.65);
	border-top: 5px solid #f9f7f1;
	border-bottom: 5px solid #f9f7f1;
	position: relative;
}

.credits:before, .credits:after {
	content: '';
	top: 0;
	width: 5px;
	height: 100%;
	position: absolute;
	background: #f9f7f1;
}

.credits:before {
	left: -5px;
}

.credits:after {
	right: -5px;
}



/* Media query for Desktop */

@media only screen and (min-width: 768px) {

	main {
		max-width: 1200px;
		margin: 0 auto;
		/*background-image: url("./img/earth-curvature-clean.jpg");
		background-size: auto;
		min-height: 800px;*/
		padding: 20px 20px 0;
	}

	h1 {
		color: #f9f7f1;
		text-align: center;
		font-family: 'PixelMiners', 'Muli', sans-serif; 
		font-size: 4vmax;
	}

	h2 {
		color: #f9f7f1;
		font-family: 'OldSchoolAdventures', 'Muli', sans-serif; 
		text-align: center;
		font-size: 1.5vmax;
	}

	.topnav .icon {
 		display: none;
	}

	.nav-bar {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		justify-items: center;
		list-style: none;
		color: #cccc33;
		margin: 0;
		padding: 0 10%;
	}

	.nav-item {
		list-style: none;
		font-family: 'Press start 2P','OldSchoolAdventures', 'Muli', sans-serif; 
		align-self: center;
		font-size: 1em;
	}

	section {
		padding: 5% 5%;
}

.bg1 {
	background-image: url("./img/earth-curvature-clean.jpg");
	background-size: auto 100%;
	background-repeat: no-repeat;
	height: 800px;
}

.static {
	height: 400px;
}


.bg2 {
	background-image: url("./img/earth-curvature-clean-reverse.jpg");
	background-size: auto 100%;
	background-repeat: no-repeat;
	height: 800px;
}

	.content-1 {
		display: grid;
		grid-template-columns: 1fr 2fr;
		align-items: center;
		grid-gap: 10px;
		padding: 0 10%;
	}

	.content-2 {
		display: grid;
		grid-template-columns: 1fr 2fr;
		align-items: center;
		grid-gap: 10px;
		padding: 0 10%;
	}

	.profile-pic {
		width: 100%;
		max-width: 240px;
		align-self: center;
		justify-self: center;
		border-radius: 50%;
	}

	.content-3 {
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;
		padding: 0 10%;
	}

	.content-4 p {
		margin: 0;
		padding: 0 10%;
}
	
}


